/* app css stylesheet */
.balance {
  display: block;
}

body {
  background-color: #EEEEDD;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: #91C1CC;
  border-color: #91C1CC;
}

.col {
  display: inline-block;
}

.col-center {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* width: 62px; */
}

.col-left {
}

.col-right {
  float: right;
}

.content {
  display: table;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 50px;
  width: 100%;
}

input {
  border-radius: 4px;
}

.minor-title {
  font-family: 'Arvo', serif;
  font-size: 1.25em;
}

.side-box {
  background-color: #DEEBB3;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
}

.title {
  color: whitesmoke;
  display: inline-block;
  font-family: 'Arvo', serif;
  font-size: 3em;
  margin-left: 50px;
  text-shadow: 1px 1px 5px #eee;
}

.top-bar {
  background-color: #AABB44;
  width: 100%;
}