<div class="top-bar">
  <div class="title"><i>Tweet Bucks</i></div>
</div>

<div class="content">
    <div class="col col-left side-box">
      <div class="minor-title"><i>You</i></div>
      Handle:<br>
      <input type="text" ng-model="user.twHandle">
      <div class="balance">Your account balance:<br>{{balances[user.twHandle]}}</div>
      <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
    </div>

  <div class="col col-center">
    <div class="tweet" ng-repeat="tweet in tweets">
      <div class="tweet-date">
        {{tweet.created_at}}
      </div>
      <div class="tweet-text side-box">
        {{tweet.text}}
      </div>
    </div>
  </div>

  <div class="col col-right side-box">
    <div class="minor-title"><i>Send Bucks</i></div>
    <form novalidate>
      Recipient's Handle:<br>
      <input type="text" ng-model="user.reHandle"><br>
      Transaction Amount:<br>
      <input type="text" ng-model="user.amount">
      <br><br>
      <button class="btn btn-primary" ng-click="submit()">Submit</button>
    </form>
  </div>
</div>
